
.container {
	display:flex;
}
 
 
.img-responsive {
  max-width: 100%;
  height: auto;

}


.logo {
	width:20%;
	height:auto;
}
.row {
	width: 100%;
}


.col-md-12 {
	width:100%;
}


.col-md-4 {
	width:33.33%;
}


* {font-family: "Lato", sans-serif;
}


.feature {
	color:#7d97ad
}


hr { 
 border: solid 2px dimgrey !important;
 background-color: #2d3c4 !important;
}
